In [5]:
name = 'abigail'
age = 14

In [7]:
'my name is {} and, i am {} years old'.format(name,age)  # using the format method

'my name is abigail and, i am 14 years old'

In [157]:
from numpy import random
arr = list(random.randn(6).round(2)*100)
arr
[x//100-100 for x in arr] # list comprehension

[-101.0, -101.0, -101.0, -101.0, -100.0, -98.0]

In [168]:
10^9

3

In [169]:
any?

Signature: any(iterable, /)
Docstring:
Return True if bool(x) is True for any x in the iterable.

If the iterable is empty, return False.
Type:      builtin_function_or_method

INPLACE

In [1]:
# INPLACE TRUE AND FALSE

In [3]:
import pandas as pd
import numpy as np

In [44]:
dframe=pd.DataFrame({
    'Population':[None,63.951,80.94,60.665,None,64.511,318.523],
    'GDP':[1785387,2833687,3874437,2167744,4602367,None,None],
    'Surface':[None,640679,357114,None,377930,242495,9525067],
    'HDI':[0.913,0.888,None,None,0.891,0.907,None],
    'Continent':['America','Europe','Europe',None,'Asia','Europe','America']},)
#     columns=['Population','GDP','Surface','HDI','Continent'])
#     adding the column is optional, as the code will still run without the column.
dframe.index=['Canada','France','Germany','Italy','Japan','United Kingdom','United States']
df1 = dframe.copy()
df2 = dframe.copy()
dframe
df1

                Population        GDP    Surface    HDI Continent
Canada                 NaN  1785387.0        NaN  0.913   America
France              63.951  2833687.0   640679.0  0.888    Europe
Germany             80.940  3874437.0   357114.0    NaN    Europe
Italy               60.665  2167744.0        NaN    NaN      None
Japan                  NaN  4602367.0   377930.0  0.891      Asia
United Kingdom      64.511        NaN   242495.0  0.907    Europe
United States      318.523        NaN  9525067.0    NaN   America

In [50]:
# axis can be used in dropping values (or data) from the dataframe
# df1.dropna(axis = 0)
# df1.dropna(axis = 1)

df1.dropna(inplace = False)
# inplace is by default false i.e. inplace = False, and it returns the value i.e result, while
df1.dropna(inplace =True)
# inplace = True does not return any value i.e result

In [51]:
df1

        Population        GDP   Surface    HDI Continent
France      63.951  2833687.0  640679.0  0.888    Europe

CLASSES AND OBJECTS

In [14]:
class Student():
    
    def student(self):
        
        b=input('Enter your name : ')
        c=int(input('Enter your age: '))
        
        print(b.capitalize() + " is " + str(c) + " years old")
        
if __name__ == "__main__":
    info = Student()
    info.student()

Enter your name :  b
Enter your age:  3

B is 3 years old

In [ ]:
class Student():
    
    def student(self, age, cgpa):
        
        self.age = age
        self.cgpa = cgpa
        
        b=input('Enter your name : ')
        c=int(input('Enter your age: '))
        
        print(b.capitalize() + " is " + str(c) + " years old")
        
info = Student()
info.student()

In [6]:
class arithProg():
    
    def calcArithProg(self):
        
        a=float(input('Enter your first term : '))
        d=float(input('Enter the common difference: '))
        n=int(input('Enter nth number terms in the progression : '))
        sumOf = (n/2)*(2*a + (n-1)*d)
        print("Sum of arithmetric progression is : ")
        print(sumOf)
        
        
if __name__ == "__main__":
    calc = arithProg()
    calc.calcArithProg()

Enter your first term :  3
Enter the common difference:  1
Enter nth number terms in the progression :  11

Sum of arithmetric progression is :
88.0

In [4]:
def calcArithProg():
        
        a=float(input('Enter your first term : '))
        d=float(input('Enter the common difference: '))
        n=int(input('Enter nth number terms in the progression : '))
        sumOf = (n/2)*(2*a + (n-1)*d)
        print("Sum of arithmetric progression is : ")
        print(sumOf)

calcArithProg()

Enter your first term :  1
Enter the common difference:  2
Enter nth number terms in the progression :  3

Sum of arithmetric progression is :
9.0